In [1]:
import os
import json
import gzip
import pandas as pd
from urllib.request import urlopen

In [ ]:
!wget http://deepyeti.ucsd.edu/jianmo/amazon/categoryFilesSmall/Electronics_5.json.gz

In [ ]:
### load the review data
data = []
with gzip.open('Electronics_5.json.gz') as f:
    for l in f:
        data.append(json.loads(l.strip()))
    
# total length of list, this number equals total number of products reviews
print(len(data))

# first row of the list
print(data[0])

In [ ]:
!wget http://deepyeti.ucsd.edu/jianmo/amazon/metaFiles/meta_Electronics.json.gz

In [ ]:
### load the meta data
metadata = []
with gzip.open('meta_Electronics.json.gz') as f:
    for l in f:
        metadata.append(json.loads(l.strip()))
    
# total length of list, this number equals total number of products
print(len(metadata))

# first row of the list
print(metadata[0])

In [ ]:
# convert list into pandas dataframe
df = pd.DataFrame.from_dict(data)
print(len(df))

In [ ]:
dfmeta = pd.DataFrame.from_dict(metadata)
print(len(dfmeta))

In [51]:
print ("Total data:", str(df.shape))
df.head(1)

Total data: (6739590, 12)

   overall vote  verified  ...         summary unixReviewTime image
0      5.0   67      True  ...  A star is born      937612800   NaN

[1 rows x 12 columns]

In [49]:
print ("Total metadata:", str(dfmeta.shape))
dfmeta.head(1)

Total metadata: (786445, 18)

                                            category tech1  ...        asin details
0  [Electronics, Camera &amp; Photo, Video Survei...        ...  0011300000     NaN

[1 rows x 18 columns]

In [ ]:
combined= pd.merge(df,dfmeta,on='asin',how='left')

In [50]:
print ("Total combined:", str(combined.shape))
combined.head(1)

Total combined: (7056550, 29)

   overall vote  verified   reviewTime  ... similar_item date   price details
0      5.0   67      True  09 18, 1999  ...                    $13.81     NaN

[1 rows x 29 columns]

In [13]:
combined=combined.dropna(subset=['title'])

In [15]:
product_reviews_hp = combined[combined["title"].str.contains("headphones|headphone|Headphones|Headphone")]

In [52]:
print ("Total Headphone:", str(product_reviews_hp.shape))
product_reviews_hp.head(1)

Total Headphone: (435840, 29)

      overall vote  verified  ... date  price details
2441      5.0  NaN      True  ...       $7.99     NaN

[1 rows x 29 columns]

In [20]:
product_reviews_Clean_Brands = product_reviews_hp[product_reviews_hp["brand"].str.contains("Sennheiser|Sony|Panasonic|JVC|Bose|Philips|Koss|Audio-Technica|MEElectronics|Klipsch|V-MODA|JBuds|Beats")]

In [48]:
print ("Total Headphone Brands:", str(product_reviews_Clean_Brands.shape))
product_reviews_Clean_Brands.head(1)

Total Headphone Brands: (116345, 29)

      overall vote  verified  ...            date price details
5461      4.0   11     False  ...  April 28, 2003            {}

[1 rows x 29 columns]

In [33]:
product_reviews_Clean_Brands.to_csv('Headphone extracted no droped columns.csv', sep=',', encoding='utf-8', index = False)

#bellow code is repeasted in 2. Breaking down Headphone dataset

In [40]:
product_reviews_hp_droped = product_reviews_Clean_Brands.drop(['style','reviewerName','reviewTime','image_x','category', 'tech1', 'description', 'fit', 'also_buy', 'image_y','tech2', 'feature','rank', 'also_view', 'main_cat','similar_item', 'date','details', 'price'], axis="columns")

In [46]:
print ("Total Headphone Brand Droped:", str(product_reviews_hp_droped.shape))
product_reviews_hp_droped.head(1)

Total Headphone Brand Droped: (116345, 10)

      overall vote  ...                                              title brand
5461      4.0   11  ...  Sony MDR-NC20 Noise Canceling Headphones with ...  Sony

[1 rows x 10 columns]

In [43]:
product_reviews_hp_droped_sorted = product_reviews_hp_droped[['asin', 'title', 'brand','overall','vote','verified','summary','reviewerID','unixReviewTime','reviewText']]

In [47]:
print ("Total Headphone Brand Droped Sorted:", str(product_reviews_hp_droped_sorted.shape))
product_reviews_hp_droped_sorted.head(1)

Total Headphone Brand Droped Sorted: (116345, 10)

            asin  ...                                         reviewText
5461  B00000DMA3  ...  I've been using these for over a year now.  Ba...

[1 rows x 10 columns]

In [ ]:
product_reviews_hp_droped_sorted.to_csv('Headphone extracted droped columns.csv', sep=',', encoding='utf-8', index = False)