In [1]:
# Sentiment anlaysis 
# Valence Aware Dictionary for Sentiment Reasoning (VADER) is a model used for text 
# sentiment analysis its sensitve for both polarity

In [2]:
import numpy as np
import pandas as pd
import nltk
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /home/joker/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [3]:
# importing Sentiment Intensity Analyzer
from nltk.sentiment.vader import SentimentIntensityAnalyzer

#SentimentIntensityAnalyzer() returns dictanry Scores of negative, positive, netural, compound
sid = SentimentIntensityAnalyzer()

In [5]:
df = pd.read_csv('../dataset/Reviews only (Sentiment).csv',encoding='utf-8')
df.head()

                                          reviewText
0  I've been using these for over a year now.  Ba...
1  I have owned these for over two years and wore...
2  I bought these thinking they were the ticket t...
3  I've owned these for years. I used to fly two ...
4  I love these headphones!! I got these in Narit...

In [6]:
df['scores'] = df['reviewText'].apply(lambda reviewText: sid.polarity_scores(str(reviewText)))
df.head()

,reviewText,scores
0,I've been using these for over a year now. Ba...,"{'neg': 0.093, 'neu': 0.745, 'pos': 0.162, 'co..."
1,I have owned these for over two years and wore...,"{'neg': 0.074, 'neu': 0.813, 'pos': 0.112, 'co..."
2,I bought these thinking they were the ticket t...,"{'neg': 0.039, 'neu': 0.833, 'pos': 0.128, 'co..."
3,I've owned these for years. I used to fly two ...,"{'neg': 0.017, 'neu': 0.82, 'pos': 0.163, 'com..."
4,I love these headphones!! I got these in Narit...,"{'neg': 0.104, 'neu': 0.772, 'pos': 0.124, 'co..."

In [7]:
df['compound']  = df['scores'].apply(lambda score_dict: score_dict['compound'])

df['comp_score_label'] = df['compound'].apply(lambda c: 'pos' if c >=0 else 'neg')

df.head()

,reviewText,scores,compound,comp_score_label
0,I've been using these for over a year now. Ba...,"{'neg': 0.093, 'neu': 0.745, 'pos': 0.162, 'co...",0.9847,pos
1,I have owned these for over two years and wore...,"{'neg': 0.074, 'neu': 0.813, 'pos': 0.112, 'co...",0.7917,pos
2,I bought these thinking they were the ticket t...,"{'neg': 0.039, 'neu': 0.833, 'pos': 0.128, 'co...",0.8871,pos
3,I've owned these for years. I used to fly two ...,"{'neg': 0.017, 'neu': 0.82, 'pos': 0.163, 'com...",0.9950,pos
4,I love these headphones!! I got these in Narit...,"{'neg': 0.104, 'neu': 0.772, 'pos': 0.124, 'co...",0.9638,pos